<tr id="comments-<%= comment.id %>">
<p>コメント件数：<%#= comments.count %></p>
      <%= link_to "@#{comment.user.name}", user_path(comment.user_id) %>
      <%= comment.rate %>点
      <%= comment.body %>
      <% if comments.user == current_user %>
        <div class="comment-delete">
          <%= link_to item_comment_path(comments.id,comments.item.id), method: :delete, remote: true do %>
            <i class="fas fa-trash" style="color: black;"></i>
          <% end %>
        </div>
      <% end %>
      <!--星評価-->
      <div id="star-rate-<%= comment.id %>"></div>
        <script>
          $('#star-rate-<%= comment.id %>').raty({
             size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= comment.rate %>,
          });
        </script>
</tr>

