<%= form_with(model: [item, comment], method: :post) do |f| %>
  <!--エラーメッセージレンダリング-->
  <div id="error_message">
    <%= render 'layouts/error_messages',model: comment %>
  </div>
  <%= f.text_area :body,placeholder:"例　とっても喜んでもらえました！", size: "40x3"  %>
  <div class="form-group row" id="star">
    <%= f.label :rate,'評価',class:'col-form-label' %>
    <%= f.hidden_field :rate, id: :review_star %>
  </div>
  <!-- ★ｓ評価javascript -->
  <script>
    $('#star').raty({
      size     : 20,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'comment[rate]',
      score: 0,
      half: true,
    });
  </script>
  <div class="form_submit">
    <%= f.submit '投稿する', class:"btn btn-success" %>
  </div>
<% end %>