 <%= form_with(model: [item, comment], method: :post) do |f| %>
          <div class="form-group row" id="star">
            <%= f.text_area :body %>
            <%= f.label :rate,'評価',class:'col-md-3 col-form-label' %>
            <%= f.hidden_field :rate, id: :review_star %>
          </div>

  <!-- 評価javascript -->
          <script>
            $('#star').raty({
              size     : 20,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'comment[rate]',
              half: true,
            });
            </script>
            <%= f.submit '投稿する', class:"btn btn-success" %>
          <% end %>