<% items.each do |item| %>
  <div class="each_item">
    <div class="container">
      <div class="row">

        <div class="col-10 col-md-4">
          <% if item.post_images.present? %>
            <% item.post_images.first(1).each do |image| %>
              <%= link_to item_path(item) do %>
                <%= attachment_image_tag image, :photo, size: "150x150" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class"col-10 col-md-4">
          <div class="flex-column">
            <div class="flex-row">
              <h6 class="ml-1"><i class="far fa-user"></i>
              <strong><%= item.user.name %></strong></h6>
            </div>
            <div class="flex-row">
              <h6 class="ml-1"><i class="fas fa-gift"></i>製品名
              <%= link_to item_path(item) do %>
                <strong><%= item.name %></strong></h6>
              <% end %>
            </div>
            <div class="flex-row">
              <h6 class="ml-1"><i class="fas fa-store"></i>店名
              <strong><%= item.shop_name %></strong></h6>
            </div>
            <div class="flex-row">
              <h6 class="ml-1"><i class="fas fa-heart"></i>気になる
              <%= item.favorites.count %></h6>
            </div>
            <div class="flex-row">
              <div class="ml-1"><h6 ><i class="fas fa-comment"></i>評価
              <%= item.comments.count %>件</h6>
            <div id="star-rate-<%= item.id %>"></div></div>
            <script>
            $('#star-rate-<%= item.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= item.comments.average(:rate).to_f.round(1) %>,
            });
            </script>
            </div>
                <div class="flex-row">
                  <h6 class="ml-1"><i class="fas fa-box"></i>包装
                  <strong><% if item.packing %>
                    個包装
                  <% elsif %>
                    同梱
                  <% end %>
                  </strong></h6>
                </div>
          </div>
        </div>
        <!--いいね機能レンダリング-->
        <div class"col-2 col-md-1">
          <% if item.user_id != current_user.id %>
            <div class="favorite-btn_<%= item.id %>">
              <%= render 'favorites/favo', item: item %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>