<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'users/sidebar', user:@user %>
      <p><%= link_to '新しい おきもち を追加する' ,  new_item_path, class:"btn btn-sm btn-outline-primary" %></p>
    </div>
    <div class="col-lg-9">
      <h5>おきもち一覧画面</h5>
        <% @items.each do |item| %>
          <div class="b-flex-row">
            <div>
              <% if item.post_images.present? %>
                <% item.post_images.first(1).each do |image| %>
                  <%= attachment_image_tag image, :photo, size: "150x150" %>
                <% end %>
              <% end %>
            </div>
            <div>
              <div class="d-inline-flex-column">
                <div>
                  <h6>製品名</h6>
                  <%= link_to item_path(item) do %>
                    <%= item.name %>
                  <% end %>
                </div>
              <div>
                <h6>販売店名</h6>
                <%= item.shop_name %>
              </div>
              <div>
                気になる<%= item.favorites.count %>
              </div>
              <div>レヴュー</div>
              <div>
                <h6>包装</h6>
                  <% if item.packing %>
                    個包装
                  <% elsif %>
                    同梱
                  <% end %>
              </div>
              <div>
                <%= render 'favo', item: item %>
              </div>
              </div>
             </div>
            </div>
        <% end %>
      <%= paginate @items %>
    </div>
  </div>
</div>