<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'users/sidebar', user:@user %>
    </div>
    <div class="col-lg-8">
      <h4>おきもちの詳細情報</h4>
      <!--いいね機能レンダリング-->
      <% if @item.user_id != current_user.id %>
        <div class="favorite-btn_<%= @item.id %>">
          <%= render 'favorites/favo', item:@item %>
        </div>
      <% end %>
      <table  class="table">
        <tr><td>
          <% if @item.post_images.present? %>
            <% @item.post_images.each do |image| %>
             <%= attachment_image_tag image, :photo, size: "200x200" %>
            <% end %>
          <% end %>
        </td></tr>
        <tr><td>商品名</td><td><%= @item.name %></td></tr>
        <tr><td>お店の名前</td><td><%= @item.shop_name %></td></tr>
        <tr>
          <td>包装</td>
          <td><% if @item.packing %>
              個包装
          <% elsif %>
              同梱
          <% end %>
        </td></tr>
        <tr><td>この商品について</td><td><%= @item.introduction %></td></tr>
        <tr><td>ジャンル</td><td><%= @item.genre.name %></td></tr>
        <tr><td>シチュエーション</td><td><%= @item.situations.distinct.pluck(:situation).join(",") %></td></tr>
        </table>
        <% if @item.user_id == current_user.id %>
          <%= link_to '編集', edit_item_path(@item.id), class:"btn btn-outline-success" %>
          <%= link_to '削除', item_path(@item),method: :delete, data: { confirm: "削除してよろしいですか？" } ,
            class:"btn btn-outline-danger"%>
        <% end %>
        <!--ここからコメント評価フォーム-->
        <%= render 'comments/form', item: @item,comment: @comment %>
        <!--コメント評価の表示 -->
        <div id="js-table-comment">
          <%= render 'comments/comments', comments: @comments %>
        </div>

          </div>
      </div>
  </div>
</div>
