<div class="container">
  <div class="row">
    <!--サイドバーレンダリング-->
    <div class=" col-12 col-md-3">
      <div class="sidebar">
       <%= render 'users/sidebar', user:@user %>
      </div>
    </div>
    <div class=" col-12 col-md-9">
      <h2>おきもちの詳細情報</h2>
      <!--いいね機能レンダリング-->
      <% if @item.user_id != current_user.id %>
        <div class="favorite-btn_<%= @item.id %>">
          <%= render 'favorites/favo', item:@item %>
        </div>
      <% end %>
      <!--item詳細-->
      <div class="show_item">
        <% if @item.post_images.present? %>
          <% @item.post_images.each do |image| %>
            <%= attachment_image_tag image, :photo,size: "200x200" %>
          <% end %>
        <% end %>
        <div class="show_item_list">
          <div class="flex-column">
            <div class="flex-row">
              <h6 class="mx-1"><i class="fas fa-user"></i>投稿者
              <%= link_to user_path(@item.user) do %>
                <strong><%= @item.user.name %></strong></h6>
              <% end %>
            </div>
            <div class="flex-row">
              <h6 class="mx-1"><i class="fas fa-gift"></i>商品名
                <strong><%= @item.name %></strong></h6>
            </div>
            <div class="flex-row">
              <h6 class="mx-1"><i class="fas fa-store"></i>お店の名前
                <strong><%= @item.shop_name %></strong></h6>
            </div>
            <div class="flex-row">
              <h6 class="mx-1"><i class="fas fa-box"></i>包装
                <strong><% if @item.packing %>
                          個包装
                        <% elsif %>
                            同梱
                        <% end %>
                </strong>
              </h6>
            </div>
            <div class="flex-row">
              <h6 class="mx-1"><i class="far fa-caret-square-right"></i>この商品について
                <div class="longtext"><strong><%= @item.introduction %></strong></div></h6>
            </div>
            <div class="flex-row">
              <h6 class="mx-1"><i class="far fa-question-circle"></i>商品ジャンル
                <strong><%= @item.genre.name %></strong></h6>
            </div>
            <div class="flex-row">
              <h6 class="mx-1"><i class="far fa-handshake"></i>シチュエーション
                <strong><%= @item.situations.distinct.pluck(:situation).join(",") %></strong></h6>
            </div>
            <!--編集・削除ボタン-->
            <div class="flex-row">
              <% if @item.user_id == current_user.id %>
                <%= link_to '編集', edit_item_path(@item.id), class:"btn btn-outline-success" %>
                <%= link_to '削除', item_path(@item),method: :delete, data: { confirm: "削除してよろしいですか？" } ,
                    class:"btn btn-outline-danger"%>
              <% end %>
            </div>
          </div>
        </div>
        <!--ここからコメント評価フォーム-->
        <div id="js-table-comment">
          <% unless @item.commented_by?(current_user) %>
          <div class="show_comment_form">
            <div id="form">
              <%= render 'comments/form', item: @item,comment: @comment %>
            </div>
          </div>
          <% end %>
         <!--コメント評価の表示 -->
          <%= render 'comments/comments', comments: @comments %>
        </div>
      </div>
    </div>
  </div>
</div>
