<!DOCTYPE html>
<html>
  <head>
    <title>Okimochi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <heder>
      <div class="heder-container">
        <%= render 'layouts/heder' %>
      </div>
    </heder>
    <body>

      <div class="main-container">
        <%= yield %>
      </div>
    </body>
     <footer>
       <div class="footer-container">
      <nav class="navbar navbar-expand-lg navbar-info">
        <div class="container d-flex justify-content-center">
          <div class="row">
            <div class>
              <p class="mt-4">Copyright ©Okimochi. All Rights Reserved</p>
            </div>
          </div>
        </div>
      </nav>
    </div>
    </footer>

  </body>
</html>
